<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bundle.css">
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        <script defer type="module">
            import init, { run } from './wasm/theme.js';
            async function main() {
                await init();
                run();
            }
            main();
        </script>     
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
